.card{
	background: white;
	border-radius: 25px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin-right: 15px;
	font-weight: lighter;
	transition: 1s box-shadow;
}

.cards :hover {
  	box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.card:hover::before, .card:hover::after{
	display: block;
	content: '';
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 75px;
	z-index: -1;
	animation: 1s clockwise infinite;
}
.card:hover:after {
  animation: 2s counterclockwise infinite;
}